.all-of-my-works {
    background-color: #ffffff;
    overflow: hidden;
    width: 100%;
    min-width: 1440px;
    min-height: 1800px;
    position: relative;
  }
  
  .all-of-my-works .keyword {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 900px;
  }
  
  .all-of-my-works .ellipse {
    position: absolute;
    top: 322px;
    left: 509px;
    width: 409px;
    height: 298px;
    background-color: #efefef;
    border-radius: 204.5px/149px;
    filter: blur(75px);
  }
  
  .all-of-my-works .text-wrapper {
    top: 430px;
    left: 918px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 90px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .all-of-my-works .div {
    top: 350px;
    left: 228px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 90px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .all-of-my-works .text-wrapper-2 {
    top: 539px;
    left: 597px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 40px;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .all-of-my-works .text-wrapper-3 {
    top: 550px;
    left: 767px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 70px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .all-of-my-works .text-wrapper-4 {
    top: 357px;
    left: 880px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 60px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .all-of-my-works .text-wrapper-5 {
    top: 328px;
    left: 771px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 35px;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .all-of-my-works .text-wrapper-6 {
    top: 308px;
    left: 580px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 80px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .all-of-my-works .text-wrapper-7 {
    top: 455px;
    left: 380px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 70px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .all-of-my-works .text-wrapper-8 {
    top: 600px;
    left: 498px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 55px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .all-of-my-works .text-wrapper-9 {
    top: 544px;
    left: 320px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 50px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .all-of-my-works .text-wrapper-10 {
    top: 436px;
    left: 597px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 50px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .all-of-my-works .text-wrapper-11 {
    position: absolute;
    top: 382px;
    left: 741px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .all-of-my-works .text-wrapper-12 {
    top: 456px;
    left: 798px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 50px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .all-of-my-works .text-wrapper-13 {
    top: 103px;
    left: 28px;
    font-family: "Cafe24 Simplehae-Regular", Helvetica;
    font-size: 40px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .all-of-my-works .ellipse-2 {
    position: absolute;
    top: 1135px;
    left: 49px;
    width: 68px;
    height: 68px;
    background-color: #d9d9d9;
    border-radius: 34px;
    filter: blur(25px);
  }
  
  .all-of-my-works .ellipse-3 {
    position: absolute;
    top: 1135px;
    left: 387px;
    width: 68px;
    height: 68px;
    background-color: #d9d9d9;
    border-radius: 34px;
    filter: blur(25px);
  }
  
  .all-of-my-works .ellipse-4 {
    position: absolute;
    top: 1135px;
    left: 733px;
    width: 68px;
    height: 68px;
    background-color: #d9d9d9;
    border-radius: 34px;
    filter: blur(25px);
  }
  
  .all-of-my-works .ellipse-5 {
    position: absolute;
    top: 1135px;
    left: 1089px;
    width: 68px;
    height: 68px;
    background-color: #d9d9d9;
    border-radius: 34px;
    filter: blur(25px);
  }
  
  .all-of-my-works .frame {
    position: absolute;
    top: 900px;
    left: 0;
    width: 1440px;
    height: 900px;
  }
  
  .all-of-my-works .text-wrapper-14 {
    position: absolute;
    top: 259px;
    left: 98px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .all-of-my-works .text-wrapper-15 {
    left: 441px;
    position: absolute;
    top: 259px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .all-of-my-works .text-wrapper-16 {
    left: 784px;
    position: absolute;
    top: 259px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .all-of-my-works .text-wrapper-17 {
    left: 1127px;
    position: absolute;
    top: 259px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .all-of-my-works .best-practice {
    position: absolute;
    top: 341px;
    left: 98px;
    font-family: "Y Universe-L", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .all-of-my-works .element {
    top: 509px;
    left: 441px;
    width: 335px;
    font-family: "Y Universe-L", Helvetica;
    font-size: 20px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .all-of-my-works .p {
    top: 509px;
    left: 790px;
    width: 335px;
    font-family: "Y Universe-L", Helvetica;
    font-size: 20px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .all-of-my-works .UAM-UBRC {
    position: absolute;
    top: 509px;
    left: 1125px;
    width: 304px;
    font-family: "Y Universe-L", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .all-of-my-works .sns-CTL {
    position: absolute;
    top: 341px;
    left: 441px;
    font-family: "Y Universe-L", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .all-of-my-works .text-wrapper-18 {
    top: 335px;
    left: 790px;
    font-family: "Y Universe-L", Helvetica;
    font-size: 20px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .all-of-my-works .global-village-NGO {
    position: absolute;
    top: 335px;
    left: 1127px;
    font-family: "Y Universe-L", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .all-of-my-works .view {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 1480px;
    height: 220px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px dashed;
    border-color: #9747ff;
  }
  
  .all-of-my-works .property {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 1440px;
    height: 70px;
    display: flex;
    background-image: url(./img/image-3.svg);
    background-size: 100% 100%;
  }
  
  .all-of-my-works .view-2 {
    flex: 1;
    width: 200px;
    position: relative;
  }
  
  .all-of-my-works .img {
    position: absolute;
    width: 12.01%;
    height: 11.61%;
    top: 14.2%;
    left: 75.5%;
  }
  
  .all-of-my-works .text-wrapper-19 {
    position: absolute;
    width: 28.5%;
    height: 15%;
    top: 36.5%;
    left: 66.5%;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .all-of-my-works .text-wrapper-20 {
    height: 15%;
    top: 57%;
    left: calc(50% - 90px);
    font-family: "Inter-Regular", Helvetica;
    font-size: 25px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .all-of-my-works .text-wrapper-21 {
    position: absolute;
    height: 15%;
    top: 77.5%;
    right: 10px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .all-of-my-works .image-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 1440px;
    height: 70px;
    background-image: url(./img/image.svg);
    background-size: 100% 100%;
  }
  
  .all-of-my-works .image {
    position: absolute;
    width: 0;
    height: 35.71%;
    top: 31.43%;
    left: 96.53%;
  }
  
  /* 상단 메뉴 바 */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* 메뉴 바 높이 명시 */
  background-color: rgba(255,255,255,0.95);
  padding: 15px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between; /* 좌측 로고 / 우측 메뉴 버튼 */
  align-items: center;
  z-index: 1000;
  box-sizing: border-box; /* padding 포함 폭 계산 */
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

/* 메뉴 버튼 */
.menu-container {
  position: relative;
}

.menu-button {
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  /* 항상 메뉴바 안쪽에 고정 */
  display: inline-block;
}

/* 메뉴 리스트 숨김 */
.menu-list {
  position: absolute;
  right: 0;/* 메뉴 버튼 우측 기준 */
  top: 35px;/* 메뉴 버튼 바로 아래 */
  background-color: white;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  width: 150px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  display: none; /* 기본 숨김 */
}

.menu-container:hover .menu-list {
  display: block;
}

.menu-list li {
  padding: 10px 15px;
}

.menu-list li a {
  text-decoration: none;
  color: #333;
  display: block;
}

/* 메뉴 호버 시 색상 변경 */
.menu-list li a:hover {
  background-color: #f0f0f0;
}

/* 메뉴 버튼에 마우스 오버 시 메뉴 표시 */
.menu-container:hover .menu-list {
  display: block;
}

/* 메뉴가 열릴 때 .active 클래스 부여 */
.menu-list.active {
  display: block;
}

/* 전체 margin 여백 제거 */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* 페이지 제목 중앙정렬 */
.page-title {
  text-align: center;
  margin-top: 100px; /* 메뉴바와 겹침 방지 */
  font-size: 2rem;
  font-weight: bold;
}

/* 3박스 레이아웃 */
.page-container {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  gap: 20px;
  margin-top: 90px;
}

/* 좌우 빈 칸 */
.side-empty {
  /*눈에 보이지 않게 비워둠*/
}

/* 중앙 콘텐츠 박스 – 모든 내용을 가운데 정렬 */
.content-box {
  grid-column: 2;
  width: 95%;
  margin: 0 auto;           /* 중앙 정렬 핵심 */
  display: flex;            /* 중앙 정렬 가능 상태로 변경 */
  flex-direction: column;   /* 세로 정렬 */
  align-items: center;      /* 내부 콘텐츠 가로 기준 중앙 정렬 */
}


/* 상단 섹션: 프로필 + 음악 플레이어 */
#top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px; /* 메뉴 바 높이 + 여백 */
  gap: 20px;
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 프로필 */
#profile {
  width: 200px;
  text-align: center;
}

/* 가운데 공백 */
#spacer {
  flex-grow: 1;
}

/* 음악 플레이어 */
#music {
  width: 300px;
}

/* 프로젝트 격자 */
.project-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  width: 100%;        /* flex 부모 영향 제거 */
  max-width: 1200px;  /* content-box 중앙폭에 맞게 */
  margin: 0 auto;     /* 중앙정렬 유지 */
}

.project-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.project-item img:hover {
  transform: scale(1.05);
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* 반응형 */
@media (max-width: 1200px) {
  .project-grid {
      grid-template-columns: repeat(4, 1fr);
  }
  .project-grid {
      grid-template-columns: repeat(4, 1fr);
  }
  .page-container {
      grid-template-columns: 1fr minmax(300px, 900px) 1fr;
  }
}

@media (max-width: 900px) {
  #top-section {
      flex-direction: column;
      align-items: flex-start;
  }
  #profile, #music {
      width: 100%;
  }
  .project-grid {
      grid-template-columns: repeat(2, 1fr);
  }
  .page-container {
      grid-template-columns: 1fr minmax(250px, 700px) 1fr;
  }
}


@media (max-width: 600px) {

  .page-container {
      grid-template-columns: 1fr; /* 중앙 1열만 */
      justify-items: center;      /* 가운데 정렬 */
  }
  .side-empty {
      display: none; /* 작은 화면에서 좌우 여백 박스 숨기기 */
  }
  .content-box {
      width: 100%;
      max-width: 500px;
      padding: 0 20px;
      align-items: center;
  }
  .project-item {
      width: 180px; /* 원하는 고정 너비 */
  }
  .project-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      justify-content: center;
      gap: 15px;
  }
}

/* 반응형: 창이 작아져도 메뉴 버튼이 안쪽에 위치 */
@media (max-width: 900px) {
  #navbar {
      padding: 15px 20px;
  }
  .menu-list {
      width: 130px;
      right: 0; /* 항상 메뉴 버튼 기준 */
  }
}